<?xml version="1.0" encoding="UTF-8"?>

<PropertyList>
 <default>
	<menu n="10">
		<label>SU-27</label>
		<enabled type="bool">true</enabled>
		<item>
			<label>Autostart toggle</label>
			<binding>
				<command>nasal</command>
				<script>
				misc.autostart();
				</script>
			</binding>
		</item>
		
		<item>
			<label>Toggle Ground Power</label>
			<binding>
				<command>nasal</command>
				<script>electricals.GndPowerToggle()</script>
			</binding>
		</item>
		
		<item>
			<label>Pylons loads</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasPylonsDlg.showPylonsDlg()</script>
			</binding>
		</item>
		
		<item>
			<label>Aircraft help</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasHelpDlg.showHelpDlg()</script>
			</binding>
		</item>
		
		<item>
			<label>Select Livery</label>
			<binding>
				<command>nasal</command>
				<script>aircraft.livery.dialog.toggle()</script>
			</binding>
		</item>

	</menu>
  </default>

</PropertyList>

