<?xml version="1.0" encoding="UTF-8"?>

<PropertyList>
 <default>
	<menu n="10">
		<label>SU-27SK</label>
		<enabled type="bool">true</enabled>
		<item>
			<label>Autostart toggle</label>
			<binding>
				<command>nasal</command>
				<script>
				misc.autostart();
				</script>
			</binding>
		</item>
		
		<item>
			<label>Toggle Ground Power</label>
		  <binding>
		   <command>property-toggle</command>
		   <property>controls/electric/external-power</property>
		  </binding>
			<binding>
				<command>nasal</command>
				<script>
					if (getprop("controls/electric/external-power") == 1){gui.popupTip("Ground power ON");}
					else {gui.popupTip("Ground power OFF");}
					</script>
			</binding>
		</item>
		
		<item>
			<label>RSBN Nav</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasRSBN.showRSBN_Dlg()</script>
			</binding>
		</item>
		
		<item>
			<label>ARC Nav</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasPU184.showRSBN_Dlg()</script>
			</binding>
		</item>
		
		<item>
			<label>Pylons loads</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasPylonsDlg.showPylonsDlg()</script>
			</binding>
		</item>
		
		<item>
			<label>Aircraft help</label>
			<binding>
				<command>nasal</command>
				 <script>CanvasHelpDlg.showHelpDlg()</script>
			</binding>
		</item>
		
		<item>
			<label>Select Livery</label>
			<binding>
				<command>nasal</command>
				<script>aircraft.livery.dialog.toggle()</script>
			</binding>
		</item>

		<item>
			<label>Reload GSh-30 Cannon</label>
			<binding>
				<command>nasal</command>
				<script>if(!getprop("/payload/armament/msg") or getprop("/gear/gear/compression-ft") > 0.01){setprop("/ai/submodels/submodel[3]/count",150); screen.log.write("GSh-30 Reloaded.",1,0,0);damage.damageLog.push("Cannon reloaded.");}else{screen.log.write("Reloading is disabled at the moment!",255,0,0);}</script>
			</binding>
		</item>
		
		<item>
			<label>Toggle Damage</label>
			<binding>
				<command>nasal</command>
				<script>
					if(getprop("/gear/gear/compression-ft") > 0.01){
						if(getprop("/payload/armament/msg")){screen.log.write("Damage OFF",1,0,0);setprop("/payload/armament/msg",0);}else{screen.log.write("Damage ON",1,0,0);setprop("/payload/armament/msg",1);}
					}else{
						screen.log.write("Damage can be toggled only when on the ground!",1,0,0);
					}
				</script>
			</binding>
		</item>

		<item>
			<label>Combat Event Log</label>
			<binding>
				<command>dialog-show</command>
				<dialog-name>flightlog</dialog-name>
			</binding>
		</item>

		<item>
			<label>Training</label>
			<binding>
				<command>dialog-show</command>
				<dialog-name>scenario28</dialog-name>
			</binding>
		</item>
		

	</menu>
  </default>

</PropertyList>

